

.bg-2{
    background-color: #343534;
    margin: 10% 10% 20% ;
    height: 80%;
    border-radius: 10px;
}

.main{
    height: 100vh;
}

.row001{
    height: 10%;
    background-color: #2f3d46;
}

.row002{
    height: 90%;
    background-color: #cbd3c5;
}

.six{
    height: 90%;
}

.col-00{
    background-color: #2f3d46;
}


.col-001{
    background-color: #2f3d46;
    height: 40%;
}

.col-002{
    background-color: #2f3d46;
}

.search{
    width: 80%;
    background-color:  #343534;
    padding: 1%;
    border-radius: 10px;
    color: #cbd3c5;
    letter-spacing: 2px;
}

.cell{
    width: 200px;
    height: 150px;
    background-color:  #343534;
    border-radius: 10px; 
    margin-top: 10px;
   
}

.div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.final{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    padding: 0 50px;
}

.last-div{
    width: 100%;
    height:200px ;
    background-color:  #343534;
    border-radius: 10px;
}

.div-3{
    display: flex;
    justify-content: center;
}
.div-1{
    display: flex;
    justify-content: center;
}

.git{
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
}

.g00{
    margin-bottom: 10px;
}